# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/

# IDE-specific files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite

# OS-specific files
.DS_Store
Thumbs.db

# Testing and coverage
.coverage
htmlcov/
.pytest_cache/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Environments
.env
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# mypy
.mypy_cache/ 